.WeatherBlockSmall {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
}
.WeatherBlockSmall-condition {
    display: inline-block;
    font-size: 2rem;
    text-align: right;
    padding: 0.5rem 0.2rem;
}
.WeatherBlockSmall-temp {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    padding: 0.5rem 0.2rem;
}
.WeatherBlockSmall-description {
    font-size: 0.9rem;
}
.WeatherBlockSmall-temp .deg {
    font-weight: 400;
}
.WeatherBlockSmall-wind {
    font-size: 0.9rem;
}
.WeatherBlockSmall-wind i {
    font-size: 1rem;
}
.WeatherBlockSmall-date {
    font-size: 0.9rem;
    text-transform: capitalize;
}
.WeatherBlockSmall-date--day {
    font-weight: bold;
}
