.WeatherBlock {
    text-align: center;
    height: 100%;
}
.WeatherBlock-condition {
    display: inline-block;
    font-size: 3rem;
    text-align: right;
    padding: 0.5rem 0.2rem;
}
.WeatherBlock-temp {
    display: inline-block;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: left;
    padding: 0.5rem 0.2rem;
}
.WeatherBlock-location {
}
.WeatherBlock-description {
    font-size: 0.9rem;
}
.WeatherBlock-temp .deg {
    font-weight: 400;
}
.WeatherBlock-wind {
    font-size: 0.9rem;
}
.WeatherBlock-wind i {
    font-size: 1rem;
}
.WeatherBlock-date {
    font-size: 0.9rem;
    text-transform: capitalize;
}
.WeatherBlock-date--day {
    font-weight: bold;
}
